/* Common CSS */
.container {
    width: 100%;
    margin: 0 auto;    
}

header {    
    height: 6rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: #070705;
}

header a {
    width: 3.8rem;
    height: auto;
}

.hamburger-menu {
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    background: url('../img/icon_menu.png') no-repeat center;
    background-size: contain;
}

.hamburger-menu span {
    display: none;
    width: 2.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height:100svh;
    max-height:100lvh;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    background: #070705;
    z-index: 50;
}

.main-nav.active {
    right: 0;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.main-nav li {
    margin: 15px 0;
}

.main-nav li a {
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 30px */
    color: #FFF;
}

.main-nav li:last-child a {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 30px */
    color: #666;
}

.close-menu {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    cursor: pointer;
}

.close-menu span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.close-menu span:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-menu span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.section.case .content {
    padding: 0 2rem;
}

.section.case-detail .content {
    padding: 0 2rem;
}

.title {
    text-align: center;
}

.title h1 {
    width: auto;
    height: 9.6rem;
}

.title h1 img {
    width: auto;
    height: 9.8rem;
}

.title h2 {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.2rem;
    color: #B3B3B3;
}

footer {
    width: calc(100% - 4rem);
    position: relative;
    margin: 4rem 2rem 0 2rem;
    padding: 0 2.4rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #070705;
    border: 1px solid #1F1F1F;
    gap: 1.6rem;
}

footer p {
    margin-top: 2rem;
}


footer p img{
    width: auto;
    height: 2rem;
}

footer .footer-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

footer .footer-link a img {
    width: auto;
    height: 2.4rem;
}

footer .top-btn {
    position: absolute;
    top: -50px;
    right: 0;
}

footer .top-btn img {
    width: 4rem;
    height: 4rem;
}

/* main */
.main-section {
    position: relative;
    padding: 0;
    min-height: calc(100svh - 6rem); /* 헤더 높이를 제외한 전체 높이 */
}

.main-section .hero-animation {
    width: calc(100% - 4rem);
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.main-section .hero-animation img {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    max-width: 100%;
    height: auto;
}

.main-section .hero-animation img.active {
    opacity: 1;
}

.main-section .bnr-case-container {
    width: calc(100% - 4rem);
    height: 5.2rem;
    margin: 0 2rem;
    position: absolute;
    bottom: 4rem;
    left: 0;
}

.main-section .bnr-case-container .txt_link {
    position: fixed;
    top: 6rem;
    right: 0;
    z-index:40;
    width: 10rem;
    height: 3.2rem;
}

.main-section .bnr-case-container .bnr-swiper {
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    position: relative;
}

.main-section .bnr-case-container .bnr-swiper.swiper {
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    position: relative;
}

.main-section .bnr-case-container .bnr-swiper .swiper-wrapper {
    height: 100%;
}

.main-section .bnr-case-container .bnr-swiper .swiper-slide {
    height: 100%;
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .bnr-case-container .bnr-swiper .swiper-slide img {
    margin-top: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-section .bnr-case {
    display: block;
}

/* case */
.case-list {
    margin-top: 4rem;
} 

.case-list .case-item {
    width: 100%; 
    height: 10rem;
    overflow: hidden;
    border: 1px solid rgba(192, 192, 192, 0.40);
    border-radius: 0.2rem;
    position: relative;
}

.case-list .case-item:not(:first-child) {
    margin-top: 0.8rem;
}

.case-list .case-item a {    
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.case-list .case-item a .case-item-img {
    position: relative;
    width: 100%;
    height: 100%;
    background: #242726;
}

.case-list .case-item a .case-item-img::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(22, 23, 22, 0.6);
}

.case-list .case-item a .case-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.case-list .case-item a .case-item-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;    
    z-index: 20;
}

.case-list .case-item a .case-item-info .logo {
    width: auto;
    height: 1.6rem;
    object-fit: contain;
}

.case-list .case-item a .case-item-info div {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.case-list .case-item a .case-item-info div img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.case-list .case-item a .case-item-info p {
    align-self: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 48px */
    letter-spacing: -1%;
    color: #ECECEC;
}
.case-list .case-item a .case-item-info p strong {
    font-size: 1.8rem;
    font-weight: 600;
}

.case-list .case-item a .case-item-info span {
    margin-top: 0.4rem;
    align-self: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #888;
}

.small-case-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.small-case-list li {
    width: 100%;
    text-align: left; 
    border-bottom: 1px dashed #c0c0c0;
}

.small-case-list li a {
    display: block;
    width: 100%;
    height: 100%;    
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -1%;
    color: #c0c0c0;
}

.small-case-list li strong {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    font-weight: 600;
    color: #FFF;
}

/* case_detail */
.case-detail-top {
    height: 20rem;
    position: relative;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-detail-top-info {
    width: 18.5rem;
}

.case-detail-top-info h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 96px */
    letter-spacing: -0.9px;
    color: #FFF;
}

.case-detail-top-info h2.blind {
    display: none;
}

.case-detail-top-info p {
    margin-top: 0.8rem;
}

.case-detail-top-img {
    width: 15rem;    
    position: absolute;
    top: 0;
    right: 0;
    animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.case-detail-content {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 1px dashed rgba(192, 192, 192, 0.40);
}

.case-detail-content-item {
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.case-detail-content-item.active {
    opacity: 1;
    transform: translateY(0);
}

.case-detail-content-item:not(:first-child) {
    margin-top: 0;
}

/* .case-detail-content-item:nth-child(even) {
    text-align: right;
}
.case-detail-content-item:nth-child(odd) {
    text-align: left;
} */

.case-detail-content-item img {
    max-width: 100%;
    height: auto;
}

.case-detail-content-item .typo {
    display: none;
}

/* lab */
.section.lab .content {
    padding-top: 4rem;
    text-align: center;
}

.section.lab .content img {
    max-width: 100%;
    height: auto;
}

.section.lab .video {
    max-width: 100%;
    height: 19rem;
    margin-top: 8rem;
    margin-left: calc(-50% + 50%);
    padding: 0;
    position: relative;
}

.section.lab .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section.lab .video .txt-area {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.section.lab .video .txt-area img {    
    width: 11rem;
    height: auto;
}

.section.lab .video .txt-area p {
    margin-top: 0.8rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #a3a3a3;
    text-align: center;
}

.section.lab .video .txt-area p strong {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    font-weight: 600;
    color: #FFF;
}

.section.lab .video .txt-area a {
    margin-top: 2rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FFF;
} 

.section.lab .video .txt-area a img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.section.lab .box {
    margin-top: 8rem;
    padding-top: 8rem;
}

.section.lab .box img {
    max-width: calc(100% - 4rem);
    margin: 0 auto;
    height: auto;
}



.section.lab .content div {
    width: 100%;
    height: 1494px;
    margin: 0 auto;
    position: relative;
}

.section.lab .content div span img {
    position: absolute;
    opacity: 0;
    transform: translateY(100px) scale(0.55);
    transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

/* 각 이미지의 위치 설정 */
.section.lab .content div span img:nth-child(1) {
    top: 494px;
    left: 0;
}
.section.lab .content div span img:nth-child(2) {
    top: 744px;
    right: 0;
}
.section.lab .content div span img:nth-child(3) {
    top: 994px;
    left: 0;
}
.section.lab .content div span img:nth-child(4) {
    top: 1244px;
    right: 0;
}

/* 활성화된 상태 */
.section.lab .content div span img.active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* 각 이미지별 지연 시간 설정 */
.section.lab .content div span img:nth-child(1) {
    transition-delay: 0.1s;
}
.section.lab .content div span img:nth-child(2) {
    transition-delay: 0.2s;
}
.section.lab .content div span img:nth-child(3) {
    transition-delay: 0.3s;
}
.section.lab .content div span img:nth-child(4) {
    transition-delay: 0.4s;
}

/* contact */
.address-info {
    margin-top: 4rem;
    padding: 0 2rem;
    text-align: center;
}

.address-info strong {
    margin-top: 3.2rem;
    display: block;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
    color: #FFF;
}

.address-info strong img {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
}

.address-info p {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 100% */
    color: #ECECEC;
}

.address-info p.txt_eng {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8rem; /* 125% */
    color: #999;
}

.contact-info {
    margin-top: 4rem;
    padding: 4rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.contact-info div {
    text-align: center;
}

.contact-info div > img {
    width: 4rem;
    height: 4rem;
}

.contact-info div p {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem;
    color: #ECECEC;
    text-align: center;
}

.contact-info div span {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.contact-info div span a {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 57.6px */
    color: #FFF;
}

.contact-info div span button {
    width: 2rem;
    height: 2rem;
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-info button.copied {
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    transform: scale(1.2);
}

.contact-info-bottom {
    position: relative;
    margin-top: 4rem;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.contact-info-bottom::before {
    content: '';
    display: block;
    width: calc(100% - 4rem);
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px dashed rgba(192, 192, 192, 0.40);
}

.contact-info-bottom div {
    text-align: center;
}

.contact-info-bottom div > img {
    width: 6rem;
    height: 6rem;
}

.contact-info-bottom div p {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 51.2px */
    color: #ECECEC;
}

.contact-info-bottom div span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.contact-info-bottom div span a {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 57.6px */
    color: #FFF;
}

.contact-info-bottom div span button {
    width: 2.4rem;
    height: 2.4rem;
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-info-bottom button.copied {
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    transform: scale(1.2);
}

.toast-message {
    width: calc(100% - 4rem);
    height: 5.2rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #151515;
    color: #fff;    
    display: none;
    z-index: 1000;
}

.toast-message.show {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    animation: fadeInOut 2.5s ease-in-out;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 57.6px */
    color: #fff;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.toast-message img {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
}

/* uxui */
.uxui img {
    max-width: 100%;
    height: auto;
}

.uxui-content1 {
    margin-top: 4rem;
    padding: 0 2rem;
    text-align: center;
}

.uxui .txt_title {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
    color: #FFF;
}

.uxui .txt_desc {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem;
    color: #a3a3a3;
}

.uxui .txt_desc strong {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    color: #FFF;
}

.uxui-content1 img {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.uxui-content2, .uxui-content3 {
    margin-top: 12rem;
    text-align: center;
}

.uxui-content2 .video-box, .uxui-content3 .video-box {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    position: relative;
}

.uxui-content2 .video-box video, .uxui-content3 .video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uxui-content4, .uxui-content5 {
    margin-top: 12rem;
    text-align: center;
}

.uxui-content4 img, .uxui-content5 img {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.uxui-content5 img:nth-of-type(2) {
    margin-top: 12rem;
    max-width: calc(100% - 4rem);
    height: auto;
    object-fit: cover;
}

.swiper {
    width: calc(100% - 4rem);
    height: auto;
    margin-top: 8rem;
    position: relative;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 1rem !important;
    width: 2rem !important;
    height: 2rem !important;
    margin-top: 0 !important;
    color: #FFF !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 2rem !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}


.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.swiper-slide h3 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #FFF;
    text-align: center;
}

.swiper-slide img {
    margin-top: 4rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

