/* Common CSS */
.container {
    max-width: 978px;
    margin: 0 auto;
    position: relative;
}

.container.full {
    max-width: 100%;
    margin: 0;
}


.container.full header {
    max-width: 978px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background: #070705;
}

header > a {
    width: 70px;
    height: 40px;
    position: relative;
    display: block;
    perspective: 1000px;
}

header > a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

header > a img:first-child {
    transform: rotateY(0deg);
    z-index: 2;
}

header > a img:last-child {
    transform: rotateY(180deg);
    z-index: 1;
}

/* 호버 시 좌우 플립 */
header > a:hover img:first-child {
    transform: rotateY(180deg);
}

header > a:hover img:last-child {
    transform: rotateY(0deg);
}

/* 자동 좌우 플립 애니메이션 */
header > a.auto-flip img:first-child {
    animation: autoFlip1 3s infinite;
}

header > a.auto-flip img:last-child {
    animation: autoFlip2 3s infinite;
}

@keyframes autoFlip1 {
    0%, 45% {
        transform: rotateY(0deg);
    }
    50%, 95% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes autoFlip2 {
    0%, 45% {
        transform: rotateY(180deg);
    }
    50%, 95% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

header nav ul {
    display: flex;
    gap: 100px;
}

header nav ul li a {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 18px */
    color: #FFF;
}

header nav ul li:nth-child(3) a {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

header nav ul li:nth-child(4) a {
    font-size: 14px;
    font-weight: 600;
    color: #c0c0c0;
}

header nav ul li:nth-child(4) a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background: url('../img/btn_down.png') no-repeat center;
}


.section {
    padding: 60px 0;
}

.section.case-detail .content {
    padding: 0;
}

.title {
    text-align: center;
}

.title h1 {
    width: auto;
    height: 250px;
}

.title h2 {
    margin-top: 24px;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 42px;
    color: #B3B3B3;
}

.title h2 strong {
    font-weight: 600;
    color: #fff;    
}

footer {
    height: 100px;
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #171717;
    background: #070705;
}

.container.full footer {
    max-width: 978px;
    margin: 0 auto;
}

footer p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: rgba(236, 236, 236, 0.40);
}

footer .footer-link {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 16px;
}

footer .top-btn {
    position: absolute;
    top: -100px;
    right: 0;
}

.container.full footer .top-btn{
    display: none;
}



/* main */
.main-section {
    position: relative;
    padding: 26px 0 0 0;
    min-height: calc(100vh - 100px); /* 헤더 높이를 제외한 전체 높이 */
}

.main-section .hero-animation {
    width: 1080px;
    height: 598px;
    text-align: center;
}

.main-section .hero-animation img {
    position: absolute;
    top:26px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    max-width: 100%;
    height: auto;
}

.main-section .hero-animation img.active {
    opacity: 1;
}

.main-section .bnr-case-container {
    width: 100%;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section .bnr-case-container .txt_link {
    width: 66px;
    height: 22px;
}
.main-section .bnr-case {    
    margin-left: auto;
}

.main-section .bnr-case-container .swiper {
    width: 410px;
    height: 56px;
    margin-top: 0;
    margin-left: auto;
    margin-right: unset;
}

.main-section .bnr-case-container .bnr-swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.main-section .bnr-case-container .bnr-swiper .swiper-slide {
    width: 100%;
    height: 100%;
}

.main-section .bnr-case-container .bnr-swiper .bnr-case {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 56px;
    transform-style: preserve-3d;
}

.main-section .bnr-case-container .bnr-swiper .bnr-case::after {
    content: '';
    position: absolute;    
    width: 120%;
    height: 112px;
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-45%) skew(25deg) scale(0);
    left: -5%;  
    transition: 200ms ease-in-out;
}

.main-section .bnr-case-container .bnr-swiper .bnr-case:hover::after {
    transform: translateY(-45%) skew(25deg) scale(1);
}

.main-section .bnr-case-container .bnr-swiper .bnr-case img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
}

/* case */
.case-list {
    margin-top: 100px;
}

.case-list .case-item {
    width: 100%; 
    height: 160px;
    overflow: hidden;
    position: relative;
}

/* .case-list .case-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #fff;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.case-list .case-item:hover::after {
    opacity: 1;
    animation: borderAnimation 1.5s linear forwards;
} */

/* @keyframes borderAnimation {
    0% {
        clip-path: inset(0 0 95% 0);
    }
    25% {
        clip-path: inset(0 0 0 95%);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 95% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 0;
    }
} */

.case-list .case-item:not(:first-child) {
    margin-top: 30px;
}

.case-list .case-item a {    
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background: #272727;
}

.case-list .case-item.open a::after {
    content: '';
    width: 115%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: -5%;
    background: rgba(22, 23, 22, 0.60);
    transform: translateY(-45%) skew(25deg) scale(1);
    transition: 200ms ease-in-out;     
    z-index: 10;
}

.case-list .case-item.open a:hover::after {
    transform: translateY(-45%) skew(25deg) scale(0);
}

.case-list .case-item a .case-item-img {
    width: 100%;
    height: 100%;    
}

.case-list .case-item a .case-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.case-list .case-item a .case-item-info {
    width: 100%;
    height: 100%;
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: absolute;
    top: 0;
    left: 0;    
    z-index: 20;
}

.case-list .case-item a .case-item-info .logo {
    position: absolute;
    top: 24px;
    left: 40px;
    width: fit-content;
    height: auto;
}

.case-list .case-item a .case-item-info div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.case-list .case-item a .case-item-info p {
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 42px;
    color: #fff;
}
.case-list .case-item a .case-item-info p strong {
    font-weight: 600;
}

.case-list .case-item a .case-item-info span {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #888;
}

.small-case-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 140px;               
}

.small-case-list li {
    width: calc(50% - 10px);
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 42px;
    color: #fff;
    padding-bottom: 16px;
    border-bottom: 1px dashed #383838;
}

.small-case-list li:nth-child(odd) {
    text-align: left;
}

.small-case-list li:nth-child(n+3) {
    margin-top: 40px;
}

.small-case-list li a {
    display: block;
    width: 100%;
    height: 100%;    
}

.small-case-list li strong {
    font-weight: 600;
}

/* case_detail */
.case-detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 765px;
    position: relative;
    margin-top: 100px;
}

.case-detail-top-info {
    width: 440px;
}

.case-detail-top-info h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    color: #FFF;
}

.case-detail-top-info h2.blind {
    display: none;
}

.case-detail-top-info p {
    margin-top: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px;
    color: #ECECEC;
}

.case-detail-top-info p strong {
    font-weight: 600;
}

.case-detail-top-img {
    width: 529px;
    height: 708px; 
}

.case-detail-content {
    padding-top: 71px;
    border-top: 4px dashed rgba(192, 192, 192, 0.40);
}

.case-detail-content-item {
    position: relative;
}

.case-detail-content-item:not(:first-child) {
    margin-top: -100px;
}

.case-detail-content-item:nth-child(even) {
    text-align: right;
}
.case-detail-content-item:nth-child(odd) {
    text-align: left;
}

.case-detail-content-item img {
    width: fit-content;
    height: auto;
}

.case-detail-content-item .info {
    position: relative;
    top: 0;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.8s ease-out;
    will-change: transform, opacity; /* 성능 최적화 */
}

.case-detail-content-item .info.active {
    opacity: 1;
    transform: translate(0, 0);
}

.case-detail-content-item:nth-child(even) .info {
    right: -80px;
}

.case-detail-content-item:nth-child(odd) .info {
    left: -80px;   
}

.case-detail-content-item .typo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
   
}

.case-detail-content-item:nth-child(even) .typo {    
    left: -175px;
    
}
.case-detail-content-item:nth-child(odd) .typo {
    right: -175px;

}

/* Lab 페이지 스냅 스크롤 효과 */
.section.lab {
    overflow: hidden;
    padding: 0;
    margin-top: 0;
}

.section.lab section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* 각 섹션별 스타일 */
.section.lab .lab-title {
    margin-top: 60px;
    justify-content: flex-start;
    gap: 100px;
}

.section.lab .video {
    width: 100vw;
    height: 100vh;
    margin-left: calc(-50vw + 50%);
    padding: 0;
    position: relative;
}

.section.lab .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section.lab .video .txt-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.section.lab .video .txt-area img {    
    width: fit-content;
    height: auto;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.lab .video .txt-area img.active {
    opacity: 1;
    transform: translateY(0);
}

.section.lab .video .txt-area p {
    margin-top: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 1%;
    color: #FFF;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out 0.2s, transform 0.8s ease-out 0.2s;
}

.section.lab .video .txt-area p.active {
    opacity: 1;
    transform: translateY(0);
}

.section.lab .video .txt-area p strong {
    font-weight: 600;
}

.section.lab .video .txt-area a {
    margin-top: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    color: #FFF;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out 0.4s, transform 0.8s ease-out 0.4s;
} 

.section.lab .video .txt-area a.active {
    opacity: 1;
    transform: translateY(0);
}



.section.lab .organization {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.lab .organization img {
    max-width: 90%;
    height: auto;
}

.section.lab .track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.lab .track img {
    max-width: 90%;
    height: auto;
}

.section.lab .workshop {
    width: 1225px;
    height: 100vh;
    gap: 32px;
    position: relative;
    overflow: hidden;
}

.section.lab .workshop > img {
    max-width: 100%;
    height: auto;
}

.section.lab .workshop article {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.lab .workshop article.active {
    opacity: 1;
    transform: translateY(0);
}

.section.lab .workshop article img {
    position: absolute;
    width: fit-content;
    height: auto;
    max-width: 80%;
}

/* Workshop article들의 개별 패럴랙스 효과 */
.section.lab .workshop .workshop-page01 {
    z-index: 3;
}

.section.lab .workshop .workshop-page02 {
    z-index: 2;
}

.section.lab .workshop .workshop-page03 {
    z-index: 1;
}

.section.lab .workshop article.workshop-page01 img:nth-child(1) {
    top: 110px;
    left: 146px;
}
.section.lab .workshop article.workshop-page01 img:nth-child(2) {
    top: 250px;
    left: 904px;
}
.section.lab .workshop article.workshop-page01 img:nth-child(3) {
    top: 550px;
    left: 0;
}
.section.lab .workshop article.workshop-page01 img:nth-child(4) {
    top: 650px;
    left: 975px;
}

.section.lab .workshop article.workshop-page02 img:nth-child(1) {
    top: 210px;
    left: 904px;
}
.section.lab .workshop article.workshop-page02 img:nth-child(2) {
    top: 450px;
    left: 61px;
}
.section.lab .workshop article.workshop-page02 img:nth-child(3) {
    top: 660px;
    left: 854px;
}

.section.lab .workshop article.workshop-page03 img:nth-child(1) {
    top: 210px;
    left: 121px;
}
.section.lab .workshop article.workshop-page03 img:nth-child(2) {
    top: 450px;
    left: 914px;
}
.section.lab .workshop article.workshop-page03 img:nth-child(3) {
    top: 660px;
    left: 171px;
}

.section.lab .methodology {
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section.lab .methodology img {
    max-width: 90%;
    height: auto;
}

/* 부드러운 스크롤 */
html {
    scroll-behavior: smooth;
}

/* 스크롤 중일 때 커서 스타일 */
body.scrolling {
    cursor: none;
}

/* contact */
.address-info {
    margin-top: 80px;
    text-align: center;
}

.address-info strong {
    margin-top: 40px;
    display: block;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.6px */
    color: #FFF;
}

.address-info p {
    margin-top: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 100% */
    color: #ECECEC;
}

.address-info p.txt_eng {
    margin-top: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 125% */
    color: #999;
}

.contact-info {
    margin-top: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-info::before {
    content: '';
    display: block;
    width: 978px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px dashed rgba(192, 192, 192, 0.40);
}

.contact-info div {
    text-align: center;
}

.contact-info div > img {
    width: 40px;
    height: 40px;
}

.contact-info div p {
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 160% */
    color: #999;
    text-align: center;
}

.contact-info div span {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.contact-info div span a {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 57.6px */
    color: #FFF;
}

.contact-info div span button {
    width: 24px;
    height: 24px;
    position: relative;
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-info button.copied {
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    transform: scale(1.2);
}

.contact-info div span button:hover:after {
    content: '';
    position: absolute;
    top: -52px;
    left: -14px;
    width: 151px;
    height: 52px;
    background: url('../img/contact/tip02.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.contact-info-bottom {
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content:space-around;
}

.contact-info-bottom div {
    text-align: center;
}

.contact-info-bottom div > img {
    width: 40px;
    height: 40px;
}

.contact-info-bottom div p {
    margin-top: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 51.2px */
    color: #999;
}

.contact-info-bottom div span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.contact-info-bottom div span a {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #FFF;
}

.contact-info-bottom div span button {
    width: 24px;
    height: 24px;
    position: relative;
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-info-bottom div span button:hover:after {
    content: '';
    position: absolute;
    top: -52px;
    left: -14px;
    width: 151px;
    height: 52px;
    background: url('../img/contact/tip01.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.contact-info-bottom button.copied {
    background: url('../img/contact/icon_copy.png') no-repeat center;
    background-size: contain;
    transform: scale(1.2);
}

/* uxforai */
.section.uxui {
    overflow: hidden;
    padding: 0;
    margin-top: 0;
}

.section.uxui section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.section.uxui section img {
    max-width: 100%;
    height: auto;
}

.section.uxui .uxui-title {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.section.uxui .uxui-title h1 {
    width: auto;
    height: 250px;
    margin-top: -200px;
}

.section.uxui .uxui-title h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height:28px;
    color: #a3a3a3;
}

.section.uxui .uxui-title h2 strong {
    font-weight: 600;
    color: #fff;    
}

.section.uxui section .txt_title {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    color: #fff;
    text-align: center;
}

.section.uxui section .txt_desc {
    margin-top: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: #a3a3a3;
    text-align: center;
}

.section.uxui section .txt_desc strong {
    font-weight: 600;
    color: #fff;    
}

.uxui-content1 img, .uxui-content4 img{
    margin-top: 50px;
}

.uxui-content5 img{
    margin-top: 80px;
}

.section.uxui section .video-box {
    margin-top: 50px;
    width: 978px;
    height: 400px;
    border-radius: 40px;
}

.section.uxui section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uxui-content7 .txt_msg {
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    color: #a3a3a3;
    text-align: left;
}

.uxui-content7 .txt_msg strong {
    font-weight: 600;
    color: #fff;    
}




.toast-message {
    width: 244px;
    height: 68px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #151515;
    color: #fff;    
    display: none;
    z-index: 1000;
}

.toast-message.show {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    animation: fadeInOut 2.5s ease-in-out;    
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 57.6px */
    color: #fff;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}


/* mobile */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #fff;
        padding: 60px 20px;
        transition: right 0.3s ease;
    }

    .main-nav.active {
        right: 0;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav li {
        margin: 15px 0;
    }
}


.swiper {
    width: 100%;
    height: auto;
    margin-top: 140px;
    position: relative;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 10px !important;
    width: 40px !important;
    height: 40px !important;
    margin-top: 0 !important;
    color: #FFF !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 40px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}


.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #ececec;
    text-align: center;
}

.swiper-slide img {
    margin-top: 4rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Top 버튼 스타일 */
.top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
}

.top-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.top-btn img {
    width: 40px;
    height: 60px;
    transition: transform 0.3s ease;
}

.top-btn:hover img {
    transform: translateY(-2px);
}